{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
    {{ title }}

{% endblock %}

{% block css_block %}
    <style>
    .sign_in{
        width: 450px;
        border: 1px solid #ccc;
        padding: 25px;

    }
    .sign_up{
        width: 450px;
        border: 1px solid #ccc;
        padding: 25px;

    }

    </style>

{% endblock %}

{% block body_block %}

    <center>

    <div class="sign_in" >
        <form method="POST" >
        {{ form|crispy }}
        {% csrf_token %}
        <button class="btn-primary" type="submit" style="width: 100%">LOGIN</button>
        </form>
    </div>
        <br>
    <div class="sign_up">
        <p>Don't have an account?<a href="{% url 'app_login:sign_up' %}">Sign-up</a> </p>
    </div>
    </center>

{% endblock %}